.header {
    background-color: #3c8dbc;
    padding: 10px;
    margin-bottom: 10px;
    height: 50px;

}

.header .btn-secondary {
    float:right;
    margin-right: 9%;
}

.header .btn {
    margin-right: 10px;
}

.header .btn-success {
    background: #3ec93c;

}

.header .menu {
    margin-left: 9%;
}


