
.users-list {
  margin: 20px 0 20px;
}


.layout .content .btn-success{
   background: rgb(58, 194, 58);
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
}

.layout .content .btn-success:hover {
   background: green;
}

.layout .content .btn-secondary{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
    margin-right: 7px;
 }
 .layout .content .btn-danger{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
  
 }

.layout .header .btn {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.layout .load-more {
    cursor:pointer;

}

.layout .container {
    max-width: 1400px;
}

.errorMessage {
    margin-left:5%;
    position:absolute;
    margin-top:100%;


}

.errorMessageComment {
    position:absolute;
    margin-left: 5%;
    margin-top:30%;
}



table {
  width: 1400px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  max-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  padding: 17px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(12, 11, 11);
  
}
td:first-child {
    width: 10px;
}

td:hover:not(:first-child):not(:last-child) {
    text-overflow: clip;
    white-space: normal;
    word-break: break-word;
}


th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
